@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --bg-color: #112b3c;
  --secondary-color: #f66b0e;
  --light-background: #65686a94;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  background-color: var(--bg-color);
  color: var(--primary-color);

  font-family: "Poppins", sans-serif;
}

/* links */

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0rem;
}

.primary-link {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  color: #fff;
}

.secondary-link {
  background-color: #fff;
  color: var(--secondary-color);

  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
}
.navbar-list-item .link-active {
  font-weight: 600;
}

/* lists */

.list-non-bullet {
  list-style: none;
}

.list-inline {
  display: inline;
  padding: 0.5rem;
}

/* navbar */

.navbar {
  background-color: var(--secondary-color);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  padding: 1rem;
  max-height: 15vh;
}

.navbar .unordered {
  list-style-type: none;
  text-align: right;
  margin-bottom: 1rem;
}

.navbar .unordered .navbar-list-item {
  display: inline;
  padding: 0.5rem;
}

.navbar .unordered .unorderd-nav-link {
  text-decoration: none;
  color: var(--primary-color);
}
.navbar h2 {
  font-size: 1.75rem;
}

/* Header */

.heading {
  padding: 1rem;
}

.hero-img {
  max-width: 300px;
  display: block;
  margin: auto;
}

.hero-heading {
  margin-top: 0.75rem;
  text-align: center;
}

.hero-heading .hero-heading-highlight-section {
  color: var(--secondary-color);
}

/* footer  */

footer {
  text-align: center;
  margin-top: 1.5rem;
  background-color: var(--secondary-color);
  border-radius: 10px 10px 0 0;
  min-height: 12vh;
}
.social-links {
  list-style-type: none;
  padding-top: 1.5rem;
}

.list-item-inline {
  /* text-align: center; */
  display: inline;
  padding: 1rem;
}

.list-item-inline .link {
  color: var(--primary-color);
  list-style-type: none;
  text-decoration: none;
}
.list-item-inline :hover {
  color: #1f142a;
  border-bottom: 1px solid #18032c;
}

/* cotainer */
.hero {
  padding: 1rem;
}
.hero .container {
  min-height: 20vh;
  text-align: center;
  padding: 1rem;
  max-width: 60%;
  margin: 0px auto;
  border-radius: 1rem;
}
.container-light {
  background-color: var(--light-background);
}
.hero .container h1 {
  font-size: 1.5rem;
}
/* buttons */
.buttons {
  display: block;
  text-align: center;
  margin: 1rem 0rem;
}

.buttons .link {
  font-weight: 600;
}

.buttons .primary-link:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.buttons .secondary-link:hover {
  background-color: #50260bab;
  color: var(--primary-color);
  border: none;
}
